// Colours
$black: #000;
$white: #fff;
$grey: #b3b3b3;

// Brand
$orange-01: #b33b04;
$orange-02: #f25922;
$orange-03: #f75105;
$grey-01: #666666;
$grey-02: #8c8c8c;
$brand-primary: #f2e1d8;
$brand-secondary: #ffede0;
$white-01: #f2f2f2;

// Tints
$peche: #f2e1d8;
$lemon: #fff6e0;
$lime: #f2f5d8;
$pearl: #ffe5e0;
$salmon: #ffede0;
$mushroom: #f0e6e4;
$stone: #fffbf0;
