@import "../../../styles/variables.scss";

.ArticleMediumThumbnail {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.3rem;
  padding-bottom: 2.3rem;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;

  @include media(">tablet") {
    margin-bottom: 0;
    padding-bottom: 0;
    width: calc(100% / 3);
    flex-direction: column;
  }
}

.ImageWrapper {
  position: relative;
  width: 15.2rem;
  max-width: 100%;
  margin-bottom: 2.4rem;
  padding-bottom: 2.4rem;

  @include media(">tablet") {
    height: 32.4rem;
    margin-top: auto;
    display: flex;
    align-items: flex-end;
  }

  &::before,
  &::after {
    content: "";
    background-color: $orange-02;
    transform: translateX(-50%);
    display: block;
    left: 50%;
    position: absolute;
  }

  &:before {
    width: 0.5rem;
    height: 0.5rem;
    transform: rotate(45deg);
    transform-origin: 0 0;
    bottom: -0.1rem;
  }

  &:after {
    bottom: 0;
    width: 6.4rem;
    height: 0.1rem;
  }

  &__Second {
    width: 29.6rem;

    &:after {
      width: 18.5rem;
    }
  }
}

.ImageAlign {
  width: 100%;
}

.CopyWrapper {
  text-align: center;

  *:last-child {
    margin-bottom: 0;
  }
}

.Title {
  color: $black;
  font-family: $font-primary;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 0.9rem;
  font-size: 2rem;
  line-height: 2.8rem;

  @include media(">tablet") {
    margin-bottom: 0.4rem;
    font-size: 2.4rem;
    letter-spacing: 0.06rem;
    line-height: 3.2rem;
  }
}

.TitleLink {
  @include multi-line-hover;

  &:hover {
    @include multi-line-hovered-state;
  }
}

.TeaserCopy {
  margin-bottom: 3.3rem;
  color: $black;
  font-family: $font-secondary;
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 2.4rem;
}
